<IfModule mod_rewrite.c>
# Activar rewrite
RewriteEngine on
Options All -Indexes
Options -MultiViews
#ErrorDocument 404 http://proyectoCursos/Error/index


RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# RewriteRule ^(.*)/(.*) indexold.php?controller=$1&action=$2
RewriteRule ^ index.php [QSA,L]

</IfModule>

